.comments-section {
  margin: 120px;
}

.comment-input {
  position: relative;
}

.comment-textarea {
  width: 100%;
  height: 96px;
  padding: 8px;
  resize: none;
}

.comment-item {
  white-space: pre-wrap;
}
