<section class="comments-section">
  <app-comment-list-view [comments]="comments"></app-comment-list-view>

  <section class="comment-input">
    <app-mention-suggestions
      #mentionSuggestions
      title="Users"
      [suggestions]="users"
      (suggestionSelected)="handleSuggestionSelected($event)"
    >
    </app-mention-suggestions>

    <form #commentForm="ngForm" (ngSubmit)="onCommentSubmit()">
      <label for="newComment" class="visually-hidden">New Comment</label>
      <textarea
        #commentTextarea
        id="newComment"
        class="comment-textarea"
        name="comment"
        [(ngModel)]="newComment"
        (input)="onCommentInput()"
        placeholder="Add new comment..."
        required
        minlength="1"
        aria-label="New comment"
      ></textarea>

      <div class="button-group">
        <button
          type="button"
          class="reset-button"
          (click)="resetForm()"
          [disabled]="!newComment"
        >
          Reset
        </button>
        <button
          type="submit"
          class="comment-button"
          [disabled]="!commentForm.form.valid"
        >
          Add comment
        </button>
      </div>
    </form>
  </section>
</section>
