<div class="comments-section">
  <app-comment-list-view [comments]="comments"></app-comment-list-view>
  <section class="comment-input">
    <app-mention-suggestions
      #mentionSuggestions
      title="Users"
      [suggestions]="users"
      (suggestionSelected)="handleSuggestionSelected($event)"
    >
    </app-mention-suggestions>
    <form (ngSubmit)="onCommentSubmit()">
      <textarea
        #commentTextarea
        class="comment-textarea"
        name="comment"
        [(ngModel)]="newComment"
        (input)="onCommentInput()"
        placeholder="Add new comment..."
      ></textarea>
      <button type="submit" class="comment-button" [disabled]="!isCommentValid">
        Add comment
      </button>
    </form>
  </section>
</div>
